<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ht.architecturem">

    <!--android:allowBackup="true" 这是一个危险的属性，
    当这个属性为true时，任何用户可直接使用adb来备份和恢复你的数据，
    所以如果不是非常有必要，这个属性一定要设置为false-->
    <!--android:supportsRtl 这是设置是否开启左右手转换功能，
    这个属性笔者一般都设置为false，国内对这个功能基本是阉割，
    如果是做海外产品的，可以打开-->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>